name: Scout Analysis
on: [push]
jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - uses: coinfabrik/scout-actions@latest
        with:
          target: './target/Cargo.toml'
